				


				<form method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" class='text' required>
                    <br><br>
                    <input type="text" name="first_name" placeholder="First Name" class='text' required>
                    <br><br>
                    <input type="text" name="last_name" placeholder="Last Name" class='text' required>
                    <br><br>
                    <input type="number" name="regNum" placeholder="Registration Number" class='number' required>
                    <br><br>
                    <input type="number" name="phone" placeholder="Phone Number" class='number' required>
                    <br><br>
                    <input type="password" name="password" placeholder="Password" class='text' required>
                    <br><br>
                    <input type="password" name="password2" placeholder="Confirm Password" class='text' required>
                    <br><br>
                    <p style="margin-left: 7%;">
                        <input type='submit' class="btn btn-success" style="color: #00A87A; background-color: #FFFFFF; font-family: 'Open Sans'; padding-left: 10%; padding-right: 10%; cursor:pointer;">
                    </p>
                </form>